<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>SPS eSports</title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://kit.fontawesome.com/ea0cb5ba41.js" crossorigin="anonymous"></script>

    <script>

        function showDropdown(){
           var dropdown = document.getElementById("dropdown")
              if(dropdown.style.display === "none" || dropdown.style.display === ""){
                dropdown.style.display = "flex";
               } else {
                dropdown.style.display = "none";
                }
        }




        document.addEventListener("click", function(event) {
            console.log('detected click');
            const anchor = event.target.closest('a');
            if (anchor) {
                console.log('clicked a');
                const parent = anchor.parentElement;
                if (parent.classList.contains('flash')) {
                    console.log('clicked flash');
                    parent.style.display = 'none';
                }
            }
        });

        function closeFlash(){
        console.log("closeFlash");
        }


        function showNavBar(){
            if (window.innerWidth < 800){
                document.getElementById("navbar").style.width = "100%";
                document.getElementById("navbar").style.paddingLeft = "1em";
            } else {
                document.getElementById("navbar").style.width = "50vh";
                document.getElementById("navbar").style.paddingLeft = "1em";
            }
        }
        function hideNavBar(){
            document.getElementById("navbar").style.width = "0";
            document.getElementById("navbar").style.paddingLeft = "0";

        }

        function showFilters(){
            var filters = document.getElementsByClassName("search-filter-container")[0];
            if(filters.style.display === "none" || filters.style.display === ""){
                filters.style.display = "flex";
            } else {
                filters.style.display = "none";
            }
        }



    </script>
</head>
<body>

<div class="header">
    <h1 onclick="window.location.href='{{url_for('index')}}'">SPS eSports</h1>

    {% if current_user.is_authenticated %}
    <a href="{{url_for('search_games')}}">Games</a>
    <a href="{{url_for('search_teams')}}">Teams</a>
    <a href="{{url_for('search_posts')}}">Posts</a>
    <a href="{{url_for('search_tournaments')}}">Tournaments</a>
    <a href="{{url_for('search_users')}}">Users</a>
    <a href="{{url_for('search_mentors')}}">Mentors</a>
    {% if current_user.admin %}
    <a href="{{url_for('manage')}}">Manage</a>
    {% endif %}
    <a href="{{url_for('user', username=current_user.username)}}">{{current_user.username}}</a>
    <a href="{{url_for('logout')}}">Logout</a>

    <a href="javascript:showNavBar()"><i class="fa-solid fa-bars"></i></a>
    <a href="javascript:window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>
    {% else %}
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('register')}}">Register</a>
    {% endif %}



</div>
<hr>

<div id="navbar">
    <div class="onerow">
        <a id="closebtn" href="javascript:hideNavBar()"><i class="fa-solid fa-circle-xmark"></i></a>
        <a href="{{ url_for('user', username=current_user.username) }}"><i class="fa-solid fa-user"></i>
            {{current_user.username}}</a>

    </div>

    <a href="{{url_for('search_games')}}"><i class="fa-solid fa-gamepad"></i> Games</a>
    <a href="{{url_for('search_teams')}}"><i class="fa-solid fa-user-group"></i> Teams</a>
    <a href="{{url_for('search_posts')}}"><i class="fa-solid fa-newspaper"></i> Posts</a>
    <a href="{{url_for('search_tournaments')}}"><i class="fa-solid fa-trophy"></i> Tournaments</a>
    <a href="{{url_for('search_users')}}"><i class="fa-solid fa-users"></i> Users</a>
    <a href="{{url_for('search_mentors')}}"><i class="fa-solid fa-user-tie"></i> Mentors</a>
    {% if current_user.admin %}
    <a href="{{url_for('manage')}}"><i class="fa-solid fa-cogs"></i> Manage</a>
    {% endif %}
    <a href="{{url_for('logout')}}"><i class="fa-solid fa-sign-out"></i> Logout</a>






</div>
<!-- flashed messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flash" id="#flash">
               <a href="#"><i class="fa-regular fa-circle-xmark"></i></a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %} {% endblock %}


</body>
</html>