{% extends 'base.html' %}

{% block content %}

<div class="centre">
    <div class="gen-container">
        <p>{{post.post_content}}</p>
        <p>Category: {{post.category}}</p>
        <p>Created on: {{post.post_date|format_datetime}}</p>
        <p>Created by: {{author.username}}</p>
        <p>Likes: {{likes}}</p>

        {% if is_liked %}
            <a href="{{url_for('like_post', post_id=post.post_id)}}">Unlike</a>
        {% else %}
            <a href="{{url_for('like_post', post_id=post.post_id)}}">Like</a>
        {% endif %}

        <a href="{{url_for('create_comment', post_id=post.post_id)}}">Comment</a>
    </div>

    <div class="gen-container">
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="gen-container">
                <p>{{comment.c_content}}</p>
                <p>Created on: {{comment.c_date|format_datetime}}</p>
                <p>Created by: {{comment.author}}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}