{% extends 'base.html' %}

{% block content %}

<form action="{{url_for('search_users')}}" method="post">
    {{form.hidden_tag()}}
    <div class="search-bar">
        {{form.search(placeholder="Search for users")}}
        {{form.submit}}
    </div>
</form>

<div class="centre">
    <div class="results">
        {% if users != '' %}
            {% if users %}
                <p>{{users|length}} results found for {{form.search.data}}</p>
                <table>
                    <tr>
                        <th>User</th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td><a href="{{url_for('user', username=user.username)}}"><i class="fa-solid fa-circle-chevron-right"></i>
                            {{user.username}}</a></td>
                    </tr>
                    {% endfor %}

                </table>
            {% else %}
                <p>No users found</p>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}