{% extends 'base.html' %}

{% block content %}
    <h1>Terms and Conditions</h1>
    <p>By signing up to this site, you agree to engage in respectful conduct when using the social features
      of this platform. This site is only intended for use by SPS students.</p>

    <h1>Privacy Policy</h1>
    <p>We will not sell or share your personal information with any third parties.
      All information collected is used for the sole purpose of providing the services offered by this site.
      The only information collected by this site is your email address and password.
    </p>
{% endblock %}
